APP_ENV=local
APP_DEBUG=true
APP_KEY=TxTTbF27XUWPFWfo3x9WY3Kfk5r7ma0P

DB_HOST=localhost
DB_CONNECTION=mysql
DB_DATABASE=agcrm_new
DB_USERNAME=root
DB_PASSWORD=root

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=log
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

EXCEL_ROWS=100
ROW_INDEX=8

BASE_URL=http://agrcrm_api.com